{% extends 'base.html.twig' %}

{% block title %}Psychiatre{% endblock %}

{% block body %}

    <!-- begin app -->
    <div class="app">
        <!-- begin app-wrap -->
        <div class="app-wrap">
            <!-- begin pre-loader -->
            <div class="loader">
                <div class="h-100 d-flex justify-content-center">
                    <div class="align-self-center">
                        <img src="assets/img/loader/loader.svg" alt="loader">
                    </div>
                </div>
            </div>
            
            <div class="app-container">
                
                <div class="app-main" id="main">
                    <!-- begin container-fluid -->
                    <div class="container-fluid">
                        <!-- begin row -->
                        <div class="row">
                            <div class="col-md-12 m-b-30">
                                <!-- begin page title -->
                                <div class="d-block d-sm-flex flex-nowrap align-items-center">
                                    <div class="page-title mb-2 mb-sm-0">
                                        <h1>My Account</h1>
                                    </div>
                                    <div class="ml-auto d-flex align-items-center">
                                        <nav>
                                            <ol class="breadcrumb p-0 m-b-0">
                                                <li class="breadcrumb-item">
                                                    <a href="index.html"><i class="ti ti-home"></i></a>
                                                </li>
                                                <li class="breadcrumb-item">
                                                    Pages
                                                </li>
                                                <li class="breadcrumb-item active text-primary" aria-current="page">Account Settings</li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                                <!-- end page title -->
                            </div>
                        </div>
                        <!-- end row -->

                        <!--mail-Compose-contant-start-->
                        <div class="row account-contant">
                            <div class="col-12">
                                <div class="card card-statistics">
                                    <div class="card-body p-0">
                                        <div class="row no-gutters">
                                            <div class="col-xl-3 pb-xl-0 pb-5 border-right">
                                                <div class="page-account-profil pt-5">
                                                    <div class="profile-img text-center rounded-circle">
                                                        <div class="pt-5">
                                                            <div class="bg-img m-auto">
                                                                <img src="{{ asset('assets/img/avtar/01.jpg')}}" class="img-fluid" alt="users-avatar">
                                                            </div>
                                                            <div class="profile pt-4">
                                                                <h4 class="mb-1">{{ psychiatre.firstName }} {{ psychiatre.lastName }}</h4>
                                                                <p>{{ psychiatre.specialite }}</p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="py-5 profile-counter">
                                                        <ul class="nav justify-content-center text-center">
                                                            <li class="nav-item border-right px-3">
                                                                <div>
                                                                    <h4 class="mb-0">90</h4>
                                                                    <p>Post</p>
                                                                </div>
                                                            </li>

                                                            <li class="nav-item border-right px-3">
                                                                <div>
                                                                    <h4 class="mb-0">1.5K</h4>
                                                                    <p>Messages</p>
                                                                </div>
                                                            </li>

                                                            <li class="nav-item px-3">
                                                                <div>
                                                                    <h4 class="mb-0">4.4K</h4>
                                                                    <p>Members</p>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-5 col-md-6 col-12 border-t border-right">
                                                <div class="page-account-form">
                                                    <div class="form-titel border-bottom p-3">
                                                        <h5 class="mb-0 py-2">Edit Your Personal Settings</h5>
                                                    </div>
                                                    <div class="p-4">
                                                        <form>
                                                            <div class="form-row">
                                                                <div class="form-group col-md-12">
                                                                    <label for="name1">Email</label>
                                                                    <ul>
                                                                     <li>{{ psychiatre.email }}</li></ul>
                                                                </div>
                                                                 
                                                                <div class="form-group col-md-12">
                                                                    <label for="name1">numLicence</label>
                                                                    <ul>
                                                                     <li>{{ psychiatre.numLicence }}</li></ul>
                                                                </div>
                                                                <div class="form-group col-md-12">
                                                                    <label for="name1">Adresse</label>
                                                                    <ul>
                                                                     <li>{{ psychiatre.adresse }}</li></ul>
                                                                </div>
                                                                <div class="form-group col-md-12">
                                                                    <label for="name1">N° tel</label>
                                                                    <ul>
                                                                     <li>{{ psychiatre.phone }}</li></ul>
                                                                </div>
                                                                
                                                                
                                                            </div>
                                                            <button class="btn btn-primary"><a href="{{ path('app_psychiatre_edit', {'id': psychiatre.id}) }}">Update Information</a></button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--mail-Compose-contant-end-->
                    </div>
                    <!-- end container-fluid -->
                </div>
                <!-- end app-main -->
            </div>
            <!-- end app-container -->
            <!-- begin footer -->
            <!-- end footer -->
        </div>
        <!-- end app-wrap -->
    </div>
    <!-- end app -->

    <!-- plugins -->
    <h1>Psychiatre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ psychiatre.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ psychiatre.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ psychiatre.roles ? psychiatre.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ psychiatre.password }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ psychiatre.lastName }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ psychiatre.firstName }}</td>
            </tr>
            <tr>
                <th>Specialite</th>
                <td>{{ psychiatre.specialite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_psychiatre') }}">back to home</a>


    {{ include('psychiatre/_delete_form.html.twig') }}
{% endblock %}
